
@model List<Kunde_app_1_core.Models.Kunde>
<body>
    <div>
        <table class="table">
            <tr>
                <th>Fornavn</th>
                <th>Etternavn</th>
                <th>Adresse</th>
                <th>Postnr</th>
                <th>Poststed</th>
            </tr>
            @if (Model != null)
            {
                @foreach (var kunde in Model)
                {
                    <tr>
                        <td>@kunde.fornavn</td>
                        <td>@kunde.etternavn</td>
                        <td>@kunde.adresse</td>
                        <td>@kunde.postnr</td>
                        <td>@kunde.poststed</td>
                        <td><a href="/kunde/endre?id=@kunde.id" class="btn btn-primary">Endre</a></td>
                        <td><a href="/kunde/slett?id=@kunde.id" class="btn btn-danger">Slett</a></td>
                    </tr>
                }
            }

        </table>
        <a href="/kunde/reg" class="btn btn-info">Registrer</a>
    </div>
</body>
